<router-outlet></router-outlet>

<div class="container mb-4 mt-5" style="width:700px;">
  <form #formObj="ngForm" [hidden]="loading">
    <h6>Search Criteria</h6>
    <div class="form-floating">
      <textarea id="searchCriteria" name="searchCriteria" class="form-control" rows="10" cols="10" ngModel></textarea>
    </div>
    <div class="form-floating pt-2">
      <input type="submit" value="submit" class="btn btn-primary" (click)="onClick(formObj.value)">
    </div>
  </form>

  <div [hidden]="!loading" class="spinner-border text-primary" role="status">
    <span class="sr-only" [hidden]="!loading"></span>
  </div>

  <div class="pt-4" [hidden]="loading"
    *ngIf="langChainData && langChainData.data && langChainData.data.choices && langChainData.data.choices.length">
    <ul *ngFor="let d of langChainData.data.choices">
      <li *ngFor="let pointWiseData of d.text.split('\n\n'); index as i" [hidden]="i === 0" [innerHtml]="pointWiseData">
      </li>
    </ul>
  </div>
</div>

<div class="container mt-5" style="width:700px;">
  <form #imageForm="ngForm" [hidden]="imageLoading">
    <h6>Search Image Criteria</h6>
    <div class="form-floating">
      <input type="text" id="image" name="image" class="form-control" placeholder="Define Your Search Criteria" ngModel>
      <label for="image" class="text-success">
        Search Image Criteria</label>
    </div>
    <div class="form-floating pt-2">
      <input type="submit" value="submit" class="btn btn-primary" (click)="getImage(imageForm.value)">
    </div>
  </form>

  <div [hidden]="!imageLoading" class="spinner-border text-primary" role="status">
    <span class="sr-only" [hidden]="!imageLoading"></span>
  </div>

  <div class="pt-2" [hidden]="imageLoading"
    *ngIf="openAiImageData && openAiImageData.data && openAiImageData.data.data && openAiImageData.data.data.length">
    <span *ngFor="let d of openAiImageData.data.data"> <img [src]="d.url" width="500" height="500" /> </span>
  </div>
  <div class="pt-2"></div>
</div>